extends ../layout/page.pug

block content
    .container.wrapper.flex-grow-1
        form(role = 'form' method = 'GET' action = '/courses')
            input(type = 'search', name = 'term', value = term)
            input(type = 'submit' value = 'search')

        a(href='/courses/new') New Course
        if courses.length == 0
            p Курсы пока что не найдены, попобуйте изменить параметры поиска
        each course in courses
            div 
                h2 
                    a(href=`/courses/${course.id}`)= course.title
                p= course.description 