extends ../layout/page.pug

block content 
    form(action = '/users', method = 'POST')
        div 
            label Имя:
                input(type = 'text', name = 'name')
        div 
            label Email: 
                input(type = 'email', name = 'email', required = true)
        div 
            label Пароль:
                input(type = 'password', name = 'password', required = true)
        div 
            label Подтверждение пароля:
                input(type = 'password', name = 'passwordConfirm', required = true)
        input(type = 'submit', value = 'Зарегистрировать')