extends ../layout/page.pug

block content 
    if error
        p= error.message
    form(action = '/users', method = 'POST')
        div 
            label Имя:
                input(type = 'text', name = 'name' value = name)
        div 
            label Email: 
                input(type = 'email', name = 'email', value = email, required = true)
        div 
            label Пароль:
                input(type = 'password', name = 'password', value = password, required = true)
        div 
            label Подтверждение пароля:
                input(type = 'password', name = 'passwordConfirm', value = passwordConfirm, required = true)
        input(type = 'submit', value = 'Зарегистрировать')